.App {
  text-align: center;
}

.poster {
  max-width: 180px;
  max-height: 255px;
  fill: cover;
  padding: 10px;
}

.movies {
  justify-content: center;
}

.movieDiv {
  max-width: 600px;
  position: absolute;
  left: 25%;
}

input, select {
  display: block;
margin: auto;
}

#formDiv {
  align-items: center;
}

@font-face {
  font-family: Trajan;
  src: url('../../../public/trajan.ttf');
}

h1 {
  font-family: Trajan;
  font-size: 5rem;
  margin-bottom: 20px;
}